@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');


.who-we-are-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .who-we-are-title {
    font-size: 3rem;
    padding: 30px;
    letter-spacing: 2px;
  }
  .member-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    .member {
      display: flex;
      flex-direction: column;    
      justify-content: center;
      align-items: center;
      width: 300px;
      margin: 50px;
      .member-image {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 100%;
      }

      .member-name{
       margin: 10px;
       font-size: 1.5rem;
      }

      .member-description{
        text-align: justify;
        padding: 10px;
        width: 90%;
        font-weight: lighter;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}
