@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.mision-wrapper {
    
    font-family: "Montserrat";
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;


    /*.trama-wrapper{
        .trama {
            height: 60%;
            width: 60vw;
            position: absolute;
            top: 11%;
            right: 0%;
            opacity: 0.4;
        }
   }*/

    .mision-content {
        width: 100%;
        margin-top: 30%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

        .mision-title{
            
            font-size: 2.5em;
            font-weight: bold;
            
        }
   
        .two-columns {
        
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;            

            p{
                
                text-align: justify;
                font-size: 1em;
                line-height: 30px;
    
                
            }
        }
    }
}



