.aliadxs-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .two {
    position: absolute;
    left: -16%;
    right: 34%;
    top: 13px;
    bottom: 95.64%;
    background: #1a936f;
    border-radius: 200%;
    transform: matrix(-0.77, -0.17, 1.29, -0.94, 0, -16);
  }
  .aliadxs-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;

    .aliadxs-logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .aliadxs-title {
        font-size: 5vw;
        text-align: center;
      }
      .orga {
        width: 10vw;
        height: 10vw;
        margin-left: 20px;
      }
    }
  }
}
