
.home-container {
  margin: 0;
  padding: 0;
  background-color: #1a936f;
  height: 100vh;
  width: 100%;
  position: relative;

  .home-title {
  height: 35%;
  margin-top: 160px;
  margin-left: 40px;
  }

  .trama {
    height: 70%;
    position: absolute;
    top: 0px;
    right: -100px;

    }
   
}
