@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
.home-container {
  margin: 0;
  padding: 0;
  background-color: #1a936f;
  height: 100vh;
  width: 100%;
  position: relative;
  .title-container {
    display: flex;
    position: absolute;
    top: 44%;
    left: 3.5%;
    align-items: center;
    justify-content: space-between;
    .side-image {
      background-image: url("../../assets/side-image.png");
      height: 70%;
      width: 1.5vw;
      position: absolute;

    }
    .home-title {
      height: 100%;
      width: 70vw;
      font-size: 3.8vw;
      font-family: "Montserrat";
      z-index: 9999;
      color: #fafafa;
      margin-left:3vw;
      font-weight: lighter;

      @media (max-width: 1024px){
        font-size: 1.9em;
        width: 80%;
      }
    }
  }
  .trama {
    height: 80%;
    width: 60vw;
    position: absolute;
    top: 0%;
    right: 0%;
    opacity: 0.5;

    @media (max-width: 1024px){
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
