.header {
    height: 10vh;
    background-color: #fafafa;
    position: fixed;
    width: 100%;
    z-index: 4444;
    display: flex;
    justify-content: center;
    align-content: center;
    .logo-container{
      width: 30%;
      .logo {
        border-style: none;
        background-color: transparent;
        background-image: url("../../assets/button.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 5vw;
        height: 5vw;
        margin: 5px;
      }
    }

    .navbar {
      width: 70%;
      display: flex;
      justify-content: flex-end;
      align-content: center;

      .links-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;

        .link {
          text-decoration: none;
          color: #000000;
          margin: 10px;
          margin-top: 30px;
          font-family: "Montserrat", sans-serif;
        }
      }
    }
  }
