.footer {
  height: 100%;
  width: 100%;
  background-color: #69458d;
  font-size: 1em;
  color: #fafafa;
  @media (max-width: 1024px) {
    font-size: 0.7em;
  }
  .main-footer {
    margin-right: 20%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3vh;

    .logos-wrapper {
      @media (max-width: 1024px) {
        margin-right: 10px;
        margin: 10px;
      }
      .follow {
      
      }
      img {
        height: 5vh;
        margin-right: 5px;
      }
    }

    .contacto-footer{
      @media (max-width: 1024px) {
        margin-right: 10px;
        margin: 10px;
      }
    }

    .web-map {
      display: flex;
      flex-direction: column;
      padding: 10px;

      @media (max-width: 1024px) {
        margin-right: 10px;
        margin: 10px;
      }
      .link {
        text-decoration: none;
        margin: 5px;
        color: #fafafa;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
  .design {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    font-size: 1em;

    @media (max-width: 1024px) {
      font-size: 1em;
    }
    .footer-link {
      margin-left: 5px;
      margin-right: 5px;
      text-decoration: none;
      color: #40caa1;
    }
  }
}
