@font-face {
  font-family: myFirstFont;
  src: url("./assets/ArcaMajora3-Bold.ttf");
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  //background-color: #69458d;
  background-color: #fafafa;

  
  .content-wrapper {
    height: 100%;
    width: 100%;
  }
}
