@font-face {
  font-family: myFirstFont;
  src: url("./assets/ArcaMajora3-Bold.ttf");
}

body {
  font-family: 'Montserrat', sans-serif;
  
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  .header {
    height: 80px;
    background-color: #534f53;
    
    

    .navbar {
      
      display: flex;
      justify-content: space-between; 
      align-content: center;
      
      .logo{;
        margin: 20px;
        height: 35px;
        width: 35px;
        border-radius: 30px;
        border-style: none;
        background-color: #8659B4;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
      }
      .links-wrapper {
        display: flex;  
        justify-content: flex-end;
        
          .link{
          text-decoration: none;
          color: #fafafa;
          margin: 10px;
          margin-top: 30px;
          font-family: 'Montserrat', sans-serif;

        }
      }
    }
  }

  .content-wrapper {
    height: 100%;
    width: 100%;
    
  }

  .footer {
    height: 200px;
    background-color: #8659B4;
    //background-color: #801C7E;
    display: flex;
    align-items: flex-end;
    .design {
      padding: 10px;
      width: 100%;
      background-color: #fafafa;
      height: 15px;
      color: black;
      text-align: right;
      .footer-link {
        text-decoration: none;
        color: #1a936f;
      }
    }
  }
}
